<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Service Status</title>

    <!--link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/-->
    <!--link rel="stylesheet" th:href="@{/css/main.css}"/-->

</head>

<body>


<main role="main" class="container">

    <div class="starter-template">
        <h1>Service Status</h1>
        <h2>
            <span th:text="'Status:, ' + ${message}"></span>
        </h2>
    </div>


</main>
<!-- /.container -->

</html>